#formulario {
    min-width: 50vw;
    margin: 1em;
    // * {
    //     background-color: transparent;
    // }
    // display: contents; 
    @include neumorphism(0.5em, 20px, 10px);
}

.admin-formulario {
    margin: 1em;
    padding: 1%;
    min-width: 25em;
    min-height: 25em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.formulario-contenedor {
    display: flex;
    flex-flow: column;
}

.formulario-contenido {
    margin: 1em;
}

.formulario-contenido-panel {
    display: none;
    &.tab-active {
        display: contents;
    }
}

.panel-static {
    display: grid;
    column-gap: 0.5em;
}

.panel-locale {
    display: grid;
    column-gap: 0.5em;
}

.formulario-contenido-panel-item {
    margin: 1em 0;
    padding: 0.5em;
    @include neumorphism(0.5em, 20px, 10px);
}

.formulario-contenido-panel-item-campo {
    height: 100%;
    overflow: hidden;
    input,
    textarea,
    select {
        @include normalizarInput;
    }
}

// Boton de guardar ahora esta fuera del formulario  cambiar clase
.formulario-contenido-panel-item-boton {
    height: 100%;
    color: $colorPrincipal;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
}

#ckeditor {
    * {
        background-color: transparent;
    }
    .ck-editor__editable {
        min-height: 7em;
    }
}
