.product-purchase-item {
    display: contents;

    color: white;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.product-buy {
    border-radius: 1em;
    height: 3em;
    background: black;
    color: white;
    font-weight: 600;
}

.product-cart {
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.6);
    height: 3em;
    svg {
        margin: 0.5em;
    }
}

.product-wishlist {
    border-radius: 1em;
    height: 3em;
    border: black solid 1px;
    background: hsla(0, 0%, 100%, 0.6);
    color: black;
}
