.product-detail {
    grid-row: 1 / span 2;
}

.product-specifications-area {
    grid-row: 3 / span 2;
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.product-brand{
    text-align: center;
}