#formulario {
    //width: 100%;
    margin: 1em;
    * {
        background-color: transparent;
    }


}

.admin-formulario {
    width: 100%;

    // display: grid;
    // grid-template-columns: 1fr 2fr;
    // grid-template-rows: auto;

    // #item-titulo {
    //     grid-column: 1;
    //     grid-row: 1;
    // }
    // #item-categoria {
    //     grid-column: 1;
    //     grid-row: 2;
    // }

    // #item-guardar {
    //     grid-column: 1;
    //     grid-row: 3;
    // }

    // #item-descripcion {
    //     grid-column: 2;
    //     grid-row: 1 / 4;
    // }
}

.formulario-contenido-item {
    margin: 1em;
    padding: 0.5em;
    @include neumorphism(0.5em, 20px, 10px);
}

.formulario-contenido-item-campo {
    height: 100%;
    input,
    textarea,
    select {
        @include normalizarInput;
    }
}

.formulario-contenido-item-boton {
    input {
        height: 100%;
        color: $colorPrincipal;
        font-weight: bold;
        @include normalizarInput;
    }
}

.ck-editor__editable {
    min-height: 7em;
}

#item-guardar {
    margin-top: 3em;
}
