header {
    position: relative;
    border-bottom: $gris solid .15em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    color: $colorPrincipal;
    font-size: 1.5em;
    @include mayusEspaciado;
}

.header-logo{
    text-align: start;
}

.header-titulo{
    text-align: center;
    
}

.header-botonera{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    .header-botonera-item {
        margin-left: 1em;
    }
}