.upload-single {
  align-items: center;
  border: 0.2em dashed $colorPrincipal;
  color: #6a6a6a;
  cursor: pointer;
  font-weight: 500;
  justify-content: center;
  text-align: center;
}

.upload-single:hover {
  border: 4px dashed hsl(19, 100%, 50%);
}

.upload-prompt-single {

  z-index: 2;
}

.upload-input-single {
  display: none;
}

.upload-thumb-single{
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  overflow: hidden;
  @include neumorphism(0.5em, 20px, 10px);
  display: grid;
}

.upload-thumb-image-single {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  img{
    width: 100%;
  }
}


.upload-single:hover .upload-thumb-actions-single {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: hsl(0, 0%, 100%);
}


.upload-thumb-delete-single,
.upload-thumb-edit-single{
  cursor:pointer;
}