.uploaded-thumn-img{
    position: relative;
}
.upload-edit-panel, .uploaded-edit-panel{
    display: none;
}
.upload-edit-panel.visible, .uploaded-edit-panel.visible {
    position: absolute;
    top: 20%;
    color: red;
    left: 20%;
    border: solid;
    z-index: 3;
    background-color: brown !important;
    width: 70vw;
    height: 70vh;
    overflow: auto;
    display: flex;
}

.uploaded-edit-panel-image, .upload-edit-panel-image{
    background: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;

}

img {
    width: 100%;
    height: auto;
}