
body {
    background-color: $fondo;
    font-family: $font-stack;
    margin:1%;
}

svg{
    width: 2em;
}

.main{
    display: flex;
    flex-flow: row wrap;

    
}


.mobile {
    display: none;
}






