.tabla {
    display: contents;
}
.tabla-contenedor{
    margin: 1em;
    padding: 1%;
    @include neumorphism(1em, 10%, 20%);
}


.admin-tabla{
    width: 100%;
    padding: 1%;

    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    text-overflow: ellipsis;

}

.admin-tabla th{
    padding: 1em 0 1em 0;
    border-bottom: .4em solid $gris;
    text-overflow: ellipsis;
    color: $colorPrincipal;

    width: auto;
}

.admin-tabla td{
    border-bottom: .05em solid $gris;
    padding: .7em .5em;
    word-wrap: break-word;
    hyphens: auto;
    text-overflow: ellipsis;
    width: auto;
}

.admin-tabla tr:nth-child(odd) {
    //background: #EBEBEB;
}

.admin-tabla tr:nth-child(even) {
    //background: #FFF;
}

.admin-tabla tr:hover{
    background: $gris;
    color: $white;
    
}

.admin-tabla-acciones{
    text-align: center;
}

.boton-editar, .boton-eliminar {
    border: none;
    background: none;
    color: $colorPrincipal;
} 

.boton-editar svg, .boton-eliminar svg{
    width: 2em;
}

.boton-editar:hover, .boton-eliminar:hover {
    color: $white;
} 

// .admin-tabla-idcolumna{
//     width: 5%;
//     text-align: center;
// }
// .admin-tabla-accionescolumna{
//     width: auto;
// }

// .admin-tabla-titulocolumna{
//     width: auto;
// }

// .admin-tabla-descripcioncolumna{
//     width: auto;
// }

// .admin-tabla-categoriacolumna{
//     width: 20%;
// }