
.tabla {
    display: contents;
    min-width: 50vw;
    flex-grow: 1;
}
.tabla-contenedor {
    margin: 1em;
    padding: 2%;
    flex-grow: 1;
    @include neumorphism(1em, 10%, 20%);
}

.tabla-alerta {
    display: none;
}

.tabla-contenido {
    display: grid;
}

.tabla-contenido-fila {
    margin: 1em;
}

.tabla-contenido-fila-iconos {
    // display: flex;
    // justify-content: flex-end;
}

.tabla-contenido-fila-campos {
    // display: contents;
    // grid-template-columns: repeat(auto,1fr);
    overflow: hidden;
}

.tabla-celda {
    border-top: 0.1em solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5em;
    svg{
        color: $colorPrincipal;
        cursor: pointer;
        &:hover{
            color: hsl(180, 17%, 39%)
        }
    }
}
