.paginacion-tabla {
}
.paginacion-tabla-info {
    order: 2;
    color: rgb(79, 79, 79);
    display: flex;
    flex-flow: row;
    .paginacion-tabla-total{
        margin-right: .5em;
    }
    
}

.paginacion-tabla-botones {
    order: 1;
}
.paginacion-tabla-boton {
    cursor: pointer;
}
.paginacion-tabla-boton-disable {
    color: gray;
}
