$color-principal: 
$color-secundario: hsl(180, 25%, 25%);


.tabla{
    width: 65%;
    min-width: 30em;
}

.admin-tabla{
    width: 100%;
    background-color: white;
    color: darkslategray;
    border-collapse: collapse;
    border: none;
    table-layout: fixed;

}

.admin-tabla th{
    background-color: $color-secundario;
    color: white;
    padding: 1em 0 1em 0;
    border-bottom: .4em solid #ddd;
    
}

.admin-tabla td{
    border-bottom: .05em solid #ddd;
    padding: .7em .5em;
    word-wrap: break-word;
    hyphens: auto;
}

.admin-tabla tr:nth-child(odd) {
    background: #EBEBEB;
}

.admin-tabla tr:nth-child(even) {
    background: #FFF;
}

.admin-tabla tr:hover{
    background: #acacac;
    color: white;
    
}

.admin-tabla-acciones{
    text-align: center;
}

.boton-editar, .boton-eliminar {
    border: none;
    background: none;
    color: $color-secundario;
} 

.boton-editar:hover, .boton-eliminar:hover {
    color: white;
} 