.formulario-tab-item-panelselector {
    display: flex;
    align-items: center;
    margin: 0 .5em;
    width: fit-content;
    height: fit-content;

    &.active{
        .tab-title{
            font-weight: bold;
            color: $blue-dark;
            border-bottom: .1em solid;
        }
    }
}