.formulario-tab-item-action{
    display: flex;
    align-items: center;
    margin: 0 .5em;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

#crear{
    order: 2;
    cursor: pointer;
    color: $colorPrincipal;
    svg {
        // @include neumorphism(0.5em, 20px, 10px);
        
        filter: drop-shadow( .2em .2em .3em hsl(0, 0%, 60%)) drop-shadow(-.2em -.2em .3em #ffffff);
    }

    &:hover{
        color: hsl(180, 17%, 39%)
    }
    
}


.visible-checkbox {
    order:1;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        + .label-hidden {
            @include neumorphism(0.5em, 20px, 10px);
            cursor: pointer;
            width: 2em;
            height: 1.2em;

            border: 1px solid #d4d4d4;
            display: inline-block;
            border-radius: 1em;
            position: relative;
            margin: 0px;

            &:after {
                content: '';

                position: absolute;
                top: 0.1em;
                left: 0.1em;
                width: 1em;
                height: 1em;
                background-color: grey;
                border-radius: 100%;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
            }
        }
        &:checked {
            + .label-hidden{
                &:after {
                    background-color: $colorPrincipal;
                    left: calc(100% - 0.1em);
                    transform: translateX(-100%);
                }
            }
        }
    }
    .label-displayed {
        padding: 0 0.5em;
    }
    .first-label {
        order: -1;
    }
}