.tabla-alerta {
    width: 0vw;
    height: 0vh;
    z-index: 5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include glassmorphism(.5em,hsla(0, 0%, 0%, 0.2));
    // @include glassmorphism(1em,hsla(0, 0%, 100%, 0.4))
}

.tabla-alerta-eliminar {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1em;
    text-align: center;
    @include glassmorphism(5em,hsla(0, 0%, 100%, 0.4));
}

.tabla-alerta-eliminar-opciones {
    width: 0;
    height: 0;
    overflow: hidden;
}

.tabla-alerta.active { 
    width: 100vw;
    height: 100vh;
    transition: width 500ms 100ms;
    transition: height 500ms 200ms;

    .tabla-alerta-eliminar {
        width: auto;
        height: auto;
        padding: 1em;
        
    }
    .tabla-alerta-eliminar-opciones {
        width: auto;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding-top: 1em;
        // transition: all 500ms;
    }
    .opcion {
        background-color: #f2f2f28b;
        border-radius: 1em;
        padding: 0.5em 1em;
        width: 10%;



    }
}







