.footer-options{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 3em;
    display: flex;
    // @include neumorphism(2em, 20px, 10px);    
    color: $blue-dark;
}

.footer-options-item{
    width: 50vw;
    text-align: center;
    @include neumorphism(0em, 20px, 10px);    
    background-color:$grey-highlight;
    margin: 0.1em;
}