header {
    background-color: $grey-highlight ;
    position: sticky;
    top:0;
    border-bottom: $grey solid .15em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    color: $blue-dark;
    font-size: 1em;
    @include mayusEspaciado;
    margin: 2%;
}

.header-logo{
    text-align: start;
}

.header-titulo{
    text-align: center;
}

.header-botonera{
    display: flex; 
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    .header-botonera-item {
        margin-left: 1em;
    }
}