
body {
    background-color: $fondo;
    font-family: $font-stack;
    overflow: hidden;
}

svg{
    width: 2em;
}

.main{
    display: flex;
    flex-flow: column nowrap;
}


.desktop, .disable {
    display: none;
}

.content{
    display: contents;
}
