body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Open Sans',sans-serif;
    background-color:  lightsteelblue;
   
}

header {
    background-color: darkslategray;
    color: floralwhite;
    width: inherit;
    padding: 2%;
    display: grid;
    
}

.main {
    display: flex;
    flex-flow: column nowrap;
    padding: 2%;
    justify-content: center;
    align-items: stretch;
    color: floralwhite;
}

.disable{
    display: none;
}