.tabla-contenedor {
    border: 2px solid red;
    overflow: scroll;
    height: 30vh;
}

.tabla-contenido{
    position: relative;
}

.tabla-contenido-fila{
    width: 100%;
    height: 5em;
}
.tabla-contenido-fila-campos{
    background-color: chocolate;
    width: 100%;
    height: 100%;;
    border: 1px solid black;
}
.tabla-contenido-fila-iconos{
    
}


.swipe-element {
    position: relative;
}

.swipe-front {
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
    z-index: 2;
    -ms-touch-action: none;
    touch-action: none;
}

.swipe-back {
    position: absolute;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 100%;
    height: 5em;

    left: 0;
    top: 0;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    // padding: 0 10px;
    box-sizing: border-box;

    visibility: hidden;
    color: $fondo;
}

// .swipe-back {
//     &.eliminar.active {
//         background-color: red;
//     }

//     &.editar.active {
//         background-color: green;
//     }
// }


#swipe-delete {
    &.active {
        justify-content: flex-end;
        visibility: visible;
        background-color: red;
    }
}

#swipe-edit {
    &.active {
        justify-content: flex-start;
        visibility: visible;
        background-color: green;
    }
}

.promote-layer {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#tabla-faqs{
    position: relative;
}

#tabla-faqs-filas{
    position: relative;
}