.tabla-contenedor {
    overflow: scroll;
    height: 30vh;
}

.tabla-contenido{
    position: relative;
}

.tabla-contenido-fila{
    width: 100%;
    height: 6em;
}
.tabla-contenido-fila-campos{
    width: 100%;
    height: 100%;
    border: .1em solid $colorPrincipal;
    padding: .5em 0;
    background-color: $fondo;
}
.tabla-contenido-fila-iconos{
    
}