header {
    position: relative;
    border-bottom: $gris solid .15em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    color: $colorPrincipal;
    font-size: 1.5em;
    @include mayusEspaciado;
}

.header-logo{
    text-align: start;
    display: flex;
    flex-flow: row nowrap;

}

.header-titulo{
    text-align: center;
}

.header-menu{
    text-align: end;
}