body {
    background-color: $fondo;
    font-family: $font-stack;
    margin:1%;

}

svg{
    width: 2em;
}

img {
    width: 100%;
}



.mobile {
    display: none;
}

.contents{
    display: contents;
}




