.panel-contenedor {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 4rem;
    // width: 48rem;
}

.desplegable-item {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.255);
    margin-bottom: 1em;
}

.desplegable-boton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 1em;
    background-color: lavender;
    font-size: 1.15rem;
    min-width: 10em;
}

.desplegable-titulo {
    width: 100%;
    text-align: left;
    word-wrap: break-word;
}



.desplegable-icono{
    color:darkslategray;
    height: 24px;
    transition: all 300ms;
    transform: rotate(-90deg);
    &.activo {
        transform: rotate(0deg);
        transition: all 300ms;
    }
}


.desplegable-descripcion {
    height: 0;
    opacity: 0;
    padding: 1em;
    word-wrap: break-word;

    &.activo{
        height: max-content;
        opacity: 1;
        transition: all 1s;
    }
}
