.product-price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.product-price-item {
    margin: 0 0.5em;
}

.product-price-original {
    text-decoration: line-through;
}